<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 text-center not-click">
      <img class="img-fluid mx-auto d-block mt-5" src="favicon.ico">
      <h2 class="text-dark">LEAL Banking</h2>
      <h5>Seja bem-vindo!</h5>
      <small>Nós potencializamos seus sonhos.</small>
      <br><br>
      <hr>
      <p> &emsp; &emsp; Dinheiro é apenas uma ferramenta. Ele irá levá-lo onde quiser, mas não vai
        substituí-lo como
        motorista. Busque, então, meios que te ajudem a otimizar a sua renda, além de trabalhar sua mentalidade
        financeira. Se você almeja ser rico, pense em poupar assim como você pensa em ganhar dinheiro. </p>
      <br>
      <p> &emsp; &emsp;<strong>Michael Batnick, gestor de patrimônios da Ritholtz:</strong> Evitar erros catastróficos
        é
        mais importante
        do que construir o portfólio perfeito.</p>
      <br>
    </div>
  </div>
  <hr>

  <div class="text-center">
    <a class="btn btn-dark btn-sm mx-2" href="https://github.com/sbstleal" target="_blank"><i class="fab fa-github"></i>
      GitHub
    </a>
    <a class="btn btn-primary btn-sm mx-2" href="https://www.linkedin.com/in/sbstleal/" target="_blank"><i
        class="fab fa-linkedin-in"></i>
      LinkedIn
    </a>
    <a class="btn btn-secondary btn-sm mx-2" href="mailto:sebastiaodeolea@gmail.com" target="_blank"><i
        class="fa fa-envelope"></i>
      E-mail
    </a>
  </div>

</div>
