<div class="card mb-0 rounded-0">
  <div class="card-header card-custom-top">
    <h5 class="align-middle text-dark">
      Sacar
    </h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <form [formGroup]="form">
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label class="form-required">
                  <small [ngClass]="{'text-red': displayMessage.agencia}">Agência</small>
                </label>
                <input type="text" class="form-control" formControlName="agencia"
                  [ngClass]="{'is-invalid': displayMessage.agencia}" maxlength="4">
                <small class="form-text text-red" [innerHTML]="displayMessage.agencia"></small>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label class="form-required">
                  <small [ngClass]="{'text-red': displayMessage.numeroConta}">Número da Conta</small>
                </label>
                <input type="text" class="form-control" formControlName="numeroConta"
                  [ngClass]="{'is-invalid': displayMessage.numeroConta}" maxlength="6">
                <small class="form-text text-red" [innerHTML]="displayMessage.numeroConta"></small>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label class="form-required">
                  <small [ngClass]="{'text-red': displayMessage.saldo}">Valor</small>
                </label>
                <input type="number" class="form-control" formControlName="valor"
                  [ngClass]="{'is-invalid': displayMessage.valor}">
                <small class="form-text text-red" [innerHTML]="displayMessage.valor"></small>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-success btn-sm float-right" [disabled]="form.invalid" (click)="onSubmit()">
          <i class="fa fa-check"></i>
          Salvar
        </button>
        <a class="btn btn-secondary btn-sm float-right mr-1" (click)="this.form.reset();">
          <i class="fa fa-times"></i>
          Cancelar
        </a>
      </div>
    </div>
  </div>
</div>
