<div class="card mb-0 rounded-0">
  <div class="card-header card-custom-top">
    <h5 class="align-middle text-dark">
      Consultar Cliente
    </h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <form [formGroup]="form">
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label class="form-required">
                  <small [ngClass]="{'text-red': displayMessage.cpf}">CPF</small>
                </label>
                <input type="text" class="form-control" formControlName="cpf"
                  [ngClass]="{'is-invalid': displayMessage.cpf}" mask="000.000.000-00">
                <small class="form-text text-red" [innerHTML]="displayMessage.cpf"></small>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-success btn-sm float-right" [disabled]="form.invalid" (click)="onSubmit()">
          <i class="fa fa-search"></i>
          Pesquisar
        </button>
        <a class="btn btn-secondary btn-sm float-right mr-1" (click)="this.form.reset();">
          <i class="fa fa-times"></i>
          Cancelar
        </a>
      </div>
    </div>
  </div>
</div>

<div class="card mb-0 rounded-0">
  <div class="card-header card-custom-top">
    <h5 class="align-middle text-dark">
      Listar
    </h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <app-table-custom [items]="contas" [itemsPerPage]="15">
          <ng-template appTableHeader>
            <tr class="bg-gray-light">
              <th>Agência</th>
              <th>Número</th>
              <th>Cliente</th>
              <th>Saldo</th>
              <th class="table-columns-acoes">Ações</th>
            </tr>
          </ng-template>
          <ng-template appTableBody let-item>
            <tr>
              <td>{{item.agencia}}</td>
              <td>{{item.numero}}</td>
              <td>{{item.cliente.nome}}</td>
              <td>{{item.saldo | currency: 'BRL'}}</td>
              <td class="table-columns-acoes">
                <button type="button" class="btn btn-default btn-sm mr-1" title="Editar" (click)="update(item.id)">
                  <i class="fas fa-pencil-alt"></i>
                </button>
              </td>
            </tr>
          </ng-template>
          <ng-template appTableEmpty>
            <tr>
              <td colspan="5" class="text-center">
                Nenhum registro foi encontrado
              </td>
            </tr>
          </ng-template>
        </app-table-custom>
      </div>
    </div>
  </div>
</div>
